<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaproy" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proy">
                    <td><h2>{{Proyecto.nombre}}</h2></td>
                    <TD>{{Proyecto.descripcion}}</TD>
                    <td *ngIf="isLogged"> <button class="btn btn-dark" routerLink="/editproy/{{Proyecto.id}}">
                        EDITAR
                    </button>
                    </td>
                    <td *ngIf="isLogged"><button class="btn btn-dark"(click)="delete(Proyecto.id)">BORRAR</button> </td>
                </tr>
            </tbody>
           </table>     
    </div>
</div>