<div class="row" *ngIf="skill">
    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged" >Nueva skill</button>
    </div>

    <div>
        
    </div>
    <div class=" circle text-center col-sm-4 col-med-4 col-lg-4"*ngFor="let skill of skill" >
       
        <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]=""
        [title]="(skill.nombre)"
        [titleColor]="'#212F3C'"
        [showTitle]="true"
        [showImage]="false"
        [imageHeight]="90"
        [imageWidth]="90"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
  ></circle-progress>
  <div class="botones">
    <td *ngIf="isLogged"> <button class="btn btn-dark" routerLink="/editskill/{{skill.id}}">
        EDITAR
    </button>
    </td>
    <td *ngIf="isLogged"><button class="btn btn-dark"(click)="delete(skill.id)">BORRAR</button> </td>
  </div>
      
    
    
</div>
