<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.JPEG" class="img-fluid" id="fotodeperfil">
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Tengo 33 años. Vivo en San miguel de Tucumán. Actualmente vivo con mi pareja, tenemos 2 gatos. Me interesa poder desarrollarme como programador.</p>
        </span>
    </div>
</div>